<%- include('./dashinclude/head.ejs') %>

    </style>
</head>
<body>
    
    <%- include('./dashinclude/main.ejs') %>
    <main>
        <h1>orders</h1>
    </main>

<%- include('./dashinclude/footer.ejs') %>