*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
/*Background image*/
.land{
    background-image: url(https://images.unsplash.com/photo-1573920011462-eb3003086611?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)
}
.location{
    display: flex;
}
/*slider*/

a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.current_location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #00425A;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 35px;
    padding: 10px 15px 12px 20px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    /* box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%); */
   }
   
   .current_location:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
   }
   
   .current_location:active {
    box-shadow: none;
   }
/*end*/
header .first_nav{
    display: flex;
    justify-content: space-between;
    padding:.7rem 1rem;
    width:100%;
    background-color: #ECF9FF ;
}
header .first_nav .location{
    display: flex;
    width: 25%;
    
}
header .first_nav .location div{
    padding-left:5px;
    margin-right:20px;
    transform: translateY(20%);
    color: black;
}
header .first_nav .location div i{
    margin-right:4px;
    color: black;
}
header .find-state{
   border-radius: 5px;
   border: 2px;
   background-color: #dbd1d1;
}
header .first_nav .location .current_location{
    outline:none;
    border-radius: 20px;
}
.specifications{
    font-size: 14px;
}
.first_nav .specifications{
    display: flex;
    justify-content: center;
    align-items: center
}
.first_nav .specifications ul{
    list-style: none;
    display: flex;
}
.first_nav .specifications ul li{
    /* margin-right: 20px; */
    padding:4px 6px 4px 6px;
    border-radius: 6px;
    
}
.first_nav .specifications ul li:hover{
    border-radius: 4px;
    transition:1.5s;
    background-color: #FF6E31;
}
.first_nav .specifications ul li:hover a{
    color:#3A4F7A;
}
.nav_of_spex_4{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_of_spex_4 form button{
  color: #FF6E31;
  font-size: 16px;
  padding: .2rem .5rem;
  font-family: Courier, monospace;
  border: none;
}
.nav_of_spex_4 form{
  padding: 5px;
}
.nav_of_spex_4 form:hover{
  border-radius: 4px;
  transition:1.5s;
  background-color: #FF6E31;
}
.nav_of_spex_4 li button{
  color: #FF6E31;
  font-size: 16px;
  padding: .2rem .5rem;
  font-family: Courier, monospace;
  border: none;
}
/* responsiveness for first_nav */

/* end navbar first  */


/* start NavBar second */
header .second_nav{
    display:flex;
    justify-content: space-between;
    height:4rem;
    align-items: center;
    border: none;
    border-bottom:solid #e7e6e6;
    border-width: 1.4px;
    position:sticky;
    padding: 1rem;

}
header .second_nav .website_Logo{
    padding:12px;
}
header .second_nav .search{
    padding-right: 12px;
    
}
header .second_nav .searchBar{
    padding-right: 12px;
    border: solid  #e8e8e8;
    border-width: 1.2px;
    border-radius: 5px;
    
}
header .second_nav .searchBar i{
    margin-left: 4px;
    color: gray;
}
header .second_nav .search .searchBar input{
    padding: .9em;
}
header .second_nav .search .searchBar input[type=text]{
    border: none;
    width: 25rem;
    outline: none;
}
header .second_nav .search input[type=submit]{
    border: none;
    background-color: #ef534e;
    margin-right: -12px;
    padding-right:15px; 
    padding-left:20px;
    border-bottom-right-radius:5px ; 
    border-top-right-radius:5px ; 
    font-size: 15px;
    color: white;
}


.find-state{
    color: #FF6E31;
    font-size: 16px;
    padding: .2rem .5rem;
    font-family: Courier, monospace;
}
/* second nav end  */

/*Landing page*/
.land{
    height: 645px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #e0e8ef;
}
.write{
    font-size: 25px;
    font-weight: 400;
    flex-direction: row;
    margin: 80px 0 0 50px;
  
}
.heading{
    margin: 8px;
}


  
.offers{
  background-color: gray;
  padding: 1em;
}
.phones{
  margin: 2em 4.8em;
  background-color: white;
  padding: 2em;
}
.offer_container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  grid-template-rows: auto;
}
.offer_container img{
  max-width: 100%;
}



/* New launch phones */

.new_launch{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em 4.8em;
}
.new_launch .launch{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-content: center;
        align-items: center;
        gap: .5em;
}
.new_launch .launch img{
  max-width: 100%;
}
/* new launch section end */


/* main section start  */
.main_container{
  background-color: #e7e6e6;
  padding-top:2px;
  padding-bottom: 20px;
  height: 15rem;
  width: 100%;
  /* position: relative; */
  display: flex;
  justify-content: center;

}
.mySlides {
  display: none
}
img {
  vertical-align: middle;

}

/* Slideshow container */

.slideshow-container {
max-width: 1000px;
height: 10rem;
position: relative;
margin: auto;
margin-top: 24px;


}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: rgba(96, 73, 73, 0.993);
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
z-index: 100000;
background-color: rgba(138, 138, 138, 0.705);
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}

}

/* 5g phones */
 .phones{
  width: 86%;
  display:  flex;
  flex-direction: column;
  background-color: #ffff;
  gap: 2em;
}

.phones a{
  text-decoration: none;
  color: black;

}

.five_g_phone{
   display:  grid;
   grid-template-columns: repeat(5,1fr) 100px;
   justify-content: center;
   align-items: center;
   gap: 1em;
}

.affphone img{
  width: 100%;
  height: 100%;
}

.affphone{
  display: grid;
  grid-template-rows: 250px 1fr;
  gap: .5em;
  border: 2px solid rgb(235, 235, 235);
}
.affphone img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.phones button{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
}

.four_g_phone{
  display: grid;
  grid-template-columns: repeat(5,1fr) 100px;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.itemfourg{
  display: grid;
  grid-template-rows: 300px 1fr;
  gap: .5em;
  border: 2px solid rgb(235, 235, 235);

}
.itemfourg img{
  width: 100%;
  height: 100%;
  object-fit: contain;
} 
.info{
  padding: 5px 10px;
  background-color: rgb(235, 235, 235);
}
.info h4{
  margin-bottom: .2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.info p{
  padding-left: 10px;
  padding-bottom: 10px;
}




/* footer section */
footer{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2em;
    background-color: #777777;
  
  }
  footer h2{
    font-size: 2em;
  }
  .contact_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .contact_container a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .footer_logo{
      display: flex;
  }
  #footer_first{
      font-size: 4em;
  }
  #footer_second{
    display: flex;
    flex-direction: column-reverse;
    font-size: 2em;
    font-weight: 500;
  }
  
  .contact_container .social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  .contact_container .social i{
    font-size: 1.3em;
  }
  
  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-width: 100%;
    padding: 2em 0em;
  }
  .contact input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90%;
    background-color: #acacac;
    padding: .5em;
    border: none;
    outline: none;
    border-radius:5px ;
  }
  .contact input:focus,input:visited,input:active{
    color: none;
  }
  #message{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #acacac;
    width: 90%;
    padding: .5em;
  }
  .contact .submit{
    padding: 6px 8px;
    width:90% ;
    font-size:1rem;
    cursor: pointer;
    background-color: #2c5c25;
    border: none;
    color: white;
    font-weight: bold;
  }
  .Croma-Support{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 3em;
  }
  .Croma-Support ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.2em;
  }
  .Croma-Support ul a{
    text-decoration: none;
  }
  .customer_car{
    display: flex;
    flex-direction: column;
    padding: 2em 2em;
    gap: 2em;
  }
  .customer_car span{
    font-size: 1.2em;
  }
  
  .side2 {
    grid-column: 3/-1;
    grid-row: 2/7;
    border: 1px solid black;
  }
  .footer {
    grid-column: 1/-1;
    border: 1px solid black;
  }
