<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <title>MobiStore</title>
    <style>
        div {
            display: flex;
        }
    </style>
</head>

<body>
    <header>
        <nav class="first_nav">
            <div class="location">
                <!-- <h1 class="status"></h1> -->

                <a href="#">
                    <div><i class="fa-solid   fa-location-dot"></i>Select Location</div>
                </a>
                <button class="find-state status fa solid">location</button>
                <!--<select class="current_location" name="" id="">
                    <option value="" style="--clr:#f6d001">New Delhi</option>
                    <option value="" style="--clr:#edd136">Bangaluru</option>
                    <option value="" style="--clr:#f5d332">Uttrakhand</option>
                    <option value="" style="--clr:#edd768">Utar Pradesh</option>
                    <option value="" style="--clr:#f0d92a">Kolkata</option>
                    <option value="" style="--clr:#e7ca0d">Chandigarh</option>
                    <option value="" style="--clr:#f6d000">Bihar</option>
                </select> -->
            </div>
            <div class="specifications">
                <ul>
                    <li class="nav_of_spex_2"><a href="#">How it Works</a></li>
                    <li class="nav_of_spex_3"><a href="/admin/shopResitration">List your Shop</a></li>
                    <div class="nav_of_spex_4">
                        <% if(isAuthenticated) { %>
                                <form action="/admin/user/logout" method="post">
                                    <button>logged out</button>
                                </form>
                            <%} else{ %>
                                <li>
                                    <a href="/admin/user/login">
                                        <button>login</button>
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/user/signup">
                                        <button>signup</button>
                                    </a>
                                </li>
                            <%}%>
                    </div>
                </ul>
            </div>
        </nav>
        <nav class="second_nav">
            <div class="website_Logo">
                <a href=""><img width="190" src="/img/weblogo.png" alt=""></a>
            </div>
            <div class="search">
                <form action="" method="" class="searchBar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" name="search" id="" placeholder="eg. iphone 14">
                    <input type="submit" value="SEARCH">
                </form>
            </div>
            <% if(isAuthenticated) { %>
            <div class="dashboard">
                <a href="/admin/dashboard/all-product">dashboard</a>
            </div>
            <%} else { %>
                <div class="shop">
                    <i class="fa-duotone fa-cart-shopping-fast"></i>
                    <i class="fa-solid fa-user"></i>
                </div>
            <% } %>


        </nav>
    </header>
    <!-- landing page -->
    <div class="land">
        <div class="write">
            <ul>
                <h1 class="heading">TIRED OF WAITING...</h1>
                <h1 class="heading">GET IT DELIVERED.</h1>
                <h1 class="heading">TRUST OF LOCAL SHOP</h1>
                <h1 class="heading">AT COMFORT OF YOUR HOME.</h1>
        </div>

    </div>

    <!-- main  
    <div class="carousel">
        <div class="carousel_cards">

            <div class="carousel_card">
                <img class="carousel_img" src="../image/63b3af1e22b317000c1336a8.webp" alt="">
            </div>

            <div class="carousel_card">
                <img class="carousel_img" src="../image/63e4b1818db992000bb580cd.webp" alt="">
            </div>
            <div class="carousel_card">
                <img class="carousel_img" src="../image/63b3af1e22b317000c1336a8.webp" alt="">
            </div>

            <div class="carousel_card">
                <img src="../image/63e4b1818db992000bb580cd.webp" alt="">
            </div> 
        </div>
    </div>-->
    <!-- main end -->


    <!--slideShow  -->
    <div class="main_container">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="/img/slider Mimage/1.webp" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="/img/slider Mimage/2.webp" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="/img/slider Mimage/3.webp" style="width:100%">
            </div>

            <!-- </div> -->
            <br>

            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

        </div>
    </div>
    <!-- slideShow end -->


    <!-- new launch phones -->

    <div class="new_launch">
        <h2>New Launch</h2>
        <div class="launch">
            <div class="new phone1">
                <a href=""><img src="/img/new launch/mxw_2048,f_auto.avif" alt=""></a>
            </div>
            <div class="new phone1">
                <a href=""><img src="/img/new launch/mxw_2048,f_auto (1).avif" alt=""></a>
            </div>
            <div class="new phone1">
                <a href=""><img src="/img/new launch/mxw_2048,f_auto (2).avif" alt=""></a>
            </div>
            <div class="new phone1">
                <a href=""><img src="/img/new launch/mxw_2048,f_auto (3).avif" alt=""></a>
            </div>
        </div>
    </div>

    <!-- new launch phones section end  -->

    <!-- 5g phones  -->
    <div class="phones">
        <h2>5G Phones</h2>
        <div class="five_g_phone">
            <div class="affphone">
                <div class="img"><a href=""><img src="/img/Affordable/iqoo_z6_5g.jpg" alt=""></a></div>
                <div class="info">
                    <a href="">
                        <h5 class="name">iQOO Z6 44W by vivo (Lumina Blue, 6GB RAM, 128GB Storage) </h4>
                            <p><span>₹</span>1,26,990</p>
                    </a>
                </div>
            </div>
            <div class="affphone">
                <div class="img"><a href=""><img src="/img/Affordable/OnePlus_nord_CE_lite_5g.webp" alt=""></a>
                </div>
                <div class="info">
                    <a href="">
                        <h5 class="name">OnePlus Nord CE 2 Lite 5G (Black Dusk, 6GB RAM, 128GB Storage)</h4>
                            <p><span>₹</span>1,26,990</p>
                    </a>
                </div>
            </div>
            <div class="affphone">
                <div class="img"><a href=""><img src="/img/Affordable/poco_x4por_5g.webp" alt=""></a></div>
                <div class="info">
                    <a href="">
                        <h5 class="name">POCO X4 Pro 5G (Laser Black, 128 GB) 5000 mAh Heavy Battery</h4>
                            <p><span>₹</span>1,26,990</p>
                    </a>
                </div>
            </div>
            <div class="affphone">
                <div class="img"><a href=""><img src="/img/Affordable/poco_m3_pro_5g.jpg" alt=""></a></div>
                <div class="info">
                    <a href="">
                        <h5 class="name">POCO M3 Pro 5G (Yellow, 64 GB) 5000 mAh Battery</h4>
                            <p><span>₹</span>1,26,990</p>
                    </a>
                </div>
            </div>
            <div class="affphone">
                <div class="img"><a href=""><img src="/img/Affordable/poco_m4pro_5g.webp" alt=""></a></div>
                <div class="info">
                    <a href="">
                        <h5 class="name">POCO M4 Pro 5G (Cool Blue, 64 GB) 5000 mAh Battery</h4>
                            <p><span>₹</span>1,26,990</p>
                    </a>
                </div>
            </div>
            <button><span id="arrow"></span><span>View All</span></button>
        </div>
    </div>
    <!-- 5g phones section -->








    <!-- footer -->
    <footer>
        <div class="contact_container">
            <a href="">
                <div class="footer_logo">
                    <img src="/img/weblogo.png" width="190" alt="">
                </div>
            </a>
            <div class="social">
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="contact">
            <h2>Contact Us</h2>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <textarea name="" id="message" cols="30" rows="10" placeholder="Message"></textarea>
            <button class="submit">Submit</button>
        </div>
        <div class="Croma-Support">
            <h2>Mobistore support</h2>
            <ul>
                <li><a href="">Help and Support</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Buying Guide</a></li>
                <li><a href="">Return Policy</a></li>
                <li><a href="">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="customer_car">
            <h2>Customer Care</h2>
            <div>
                <span>Phone: 8792097283</span>
                <span>, 9887934024</span>
            </div>

        </div>
    </footer>


    <script src="/js/location.js"></script>
</body>

</html>