
    <nav>
        <nav class="first_nav">
            <div class="website_Logo">
                <a href="/"><img width="190" src="/img/weblogo.png" alt=""></a>
            </div>
            <div class="dashboard">
                <h1>user_name</h1>
            </div>
        </nav>
        <div class="dashnav">
            <nav>
                <a href="/admin/dashboard/add-product">Add Product</a>
                <a href="/admin/dashboard/all-product">All Products</a>
                <a href="/admin/dashboard/orders">orders</a>
            </nav>
        </div>
    </nav>
    